<div class="col-md-12 d-flex justify-content-center">
  <div class="col-md-8">
    <h1 class="text-center"> create attendence Details</h1>
    <%= render "form", attendence: @attendence%>
  </div>
</div>
